html ,body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 15%;
}

footer {
    height: 15%;
}

.right {
    padding: 15px;
    border-radius: 15px;
    font-size: x-large;
    background-color: rgb(193, 193, 193);
    width: 15%;
    height: 70%;
}

ul {
    list-style-type: none;
}

li a{
    padding: 10px;
    text-decoration: none;
    display: block;
    list-style-type: none;
    color: rgb(92,169,4);
}

li a:hover{
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    list-style-type: none;
    color: rgb(0, 0, 0);
}
