@font-face {
    font-family: hack ;
    src: url(Hack-Regular.ttf);
}

body {
    color: #ffffff;
    background-color: #000000;
    font-family: hack;

}

header {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
}

footer {
    text-align: center;
    padding: 10px;
    font-weight: bolder;
}

a {
    color: #ffff00;
}

a:hover {
    color: #00ff00;
}

#content {
    padding: 10px;
    margin: auto;
    width: 70%;
}